extends layout
block content
    //-
    //  msType=["Tipo 1", "Tipo 2"]
    //  each item in msType
    //  li = item
    h1= title

    //if(logged)
    //    form(name="add-estimation", method="post")
    //        div.input
    //            input(type="hidden" name="access_token" value="#{psw}")
    //            input(type="hidden" name="logged" value="#{logged}")
    //            span.label Microservice Name:
    //            input(type="text", name="microserviceName")
    //            br
    //            span.label Microservice Base Url:
    //            input(type="text" name="baseUrl" )
    //            br
    //            span.label Microservice Type:
    //            select(name='Type')
    //                option(value='', selected='selected') Select a microservice Type
    //                //- var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
    //                each item in appGrant
    //                    option(value=item)= item
    //        div.actions
    //            input(type="submit", value="Registra Servizio")
    //
    //else
    //    h2= error_message
    //    form(name="add-estimation", method="post")
    //        div.input
    //            input(type="hidden" name="access_token" value="#{psw}")
    //            input(type="hidden" name="logged" value="#{logged}")
    //            span.label Admin User Name:
    //            input(type="text", name="username")
    //            br
    //            span.label Password:
    //            input(type="text" name="password" )
    //        div.actions
    //            input(type="submit", value="Login")
    //


